# Purpose

- Test If openAi and llama_index are working smoothly

In [ ]:
from dotenv import load_dotenv
import os

load_dotenv()  
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
assert OPENAI_API_KEY, "Defina OPENAI_API_KEY no .env"

In [ ]:
import pandas as pd
from llama_index.experimental.query_engine import PandasQueryEngine

df = pd.read_csv("../../data/ready/train.csv")
df.head(3)

     REF_DATE Inadiplencia Sexo  IDADE Obito  UF  Classe Social
0  01-06-2017   adimplente    M     34  Vivo  RO              D
1  18-08-2017   adimplente    M     40  Vivo  PB              E
2  30-06-2017   adimplente    F     34  Vivo  RS  Non-specified

In [ ]:
# By deafult it will use the model text-davinci-003 from openai
query_engine = PandasQueryEngine(df=df, verbose=True)

resp = query_engine.query("Qual a média da coluna `idade` nos últimos 3 meses?")
print(resp)

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
> Pandas Instructions:
```
df['IDADE'].mean()
```
> Pandas Output: 41.88248447204969
41.88248447204969

In [7]:
resp = query_engine.query("Quais são os UFs que temos na base?")

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
> Pandas Instructions:
```
df['UF'].unique()
```
> Pandas Output: ['RO' 'PB' 'RS' 'BA' 'SP' 'MG' 'RJ' 'MS' 'PR' 'SC' 'RN' 'Non-specified'
 'CE' 'AC' 'PE' 'TO' 'AL' 'MT' 'ES' 'MA' 'AM' 'PI' 'DF' 'GO' 'PA' 'SE'
 'RR' 'AP']

In [8]:
resp = query_engine.query("Quantos elementos tenho de cada UF na base?")

INFO:httpx:HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
> Pandas Instructions:
```
df['UF'].value_counts()
```
> Pandas Output: UF
SP               19079
BA               10306
PA               10159
RS                8410
CE                8262
MG                7757
PE                7056
RJ                4617
AM                4145
RN                3800
PR                3668
Non-specified     3356
PB                3085
AL                2800
ES                2765
MS                2515
GO                2369
AC                2304
MA                2083
MT                2015
SC                2013
PI                1858
RO                1731
AP                1292
SE                1175
DF                 790
TO                 767
RR                 573
Name: count, dtype: int64